.cardManager {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 14px;
}

.svg {
  background-color: var(--plus-fill);
  border-radius: 8px;
  width: 28px;
  height: 28px;
  padding: 7px;
  align-content: center;
}

.svgIcon {
  stroke: var(--plus-stroke);
}
