/* Card Manager Container */
.cardManager {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  /* width: 335px; */
  width: 100%;
  margin: 0 auto;
  max-height: 100%;
  /* padding: 20px; */
  /* background-color: burlywood; */
}

/* Add Card Button */
.cardManagerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 335px;
  /* width: 335px; */
  height: 56px;
  background-color: var(--btn-color);
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--plus-fill);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.svg {
  background-color: var(--plus-fill);
  border-radius: 8px;
  width: 28px;
  height: 28px;
  padding: 7px;
  align-content: center;
}
.svgIcon {
  stroke: var(--plus-stroke);
}


.cardManagerButton:hover {
  background-color: var(--btn--hover-color);
  /* transform: scale(1.02); */
}

