/* Card Manager Container */
.cardManager {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  gap: 14px;
}
/* Add Card Button */
.cardManagerButton {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 334px;
  height: 56px;
  background-color: var(--btn-color);
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--plus-fill);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.svg {
  background-color: var(--plus-fill);
  border-radius: 8px;
  width: 28px;
  height: 28px;
  padding: 7px;
  align-content: center;
}
.svgIcon {
  stroke: var(--plus-stroke);
}

.cardManagerButton:hover {
  background-color: var(--btn--hover-color);
  /* transform: scale(1.02); */
}
@media only screen and (max-width: 374px) {
  .cardManagerButton {
    width: calc(100% - 12px);
  }
}