.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  /* background: rgba(0, 0, 0, 0.1); */
  background-color: transparent;
  backdrop-filter: blur(5px);
  z-index: 9999;
  pointer-events: all;
}

.loader {
  z-index: 10000;
}
