* {
    box-sizing: border-box;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOpacity 0.3s forwards;
}

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modalOverlay.fadeOut {
    animation: fadeOutOpacity 0.3s forwards;
}

@keyframes fadeOutOpacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modalContainer {
    background: #151515;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid rgba(190, 219, 176, 0.50);
    width: 350px;
    height: 433px;
    color: #FFF;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
        animation: fadeInOpacity 0.3s forwards;
}

.modalContainer.fadeOut {
    animation: fadeOutOpacity 0.3s forwards;
}

.modalCloseBtn {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    position: absolute;
    top: 14px;
    right: 14px;
    background: none;
    border: none;
    font-size: 24px;
    color: #f0f0f0;
    outline: none;
}

.closeBtnIcon {
    stroke: #f0f0f0;
    fill: white;
    transition: stroke 0.3s ease, filter 0.3s ease;
}

.modalCloseBtn:hover .closeBtnIcon {
    stroke: #85c764;
    filter: brightness(4) drop-shadow(0 0 10px rgba(153, 232, 105, 0.9)) drop-shadow(0 0 2px rgba(153, 232, 105, 1));
}

.modalContainer h2 {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-bottom: 24px;
}

/* Поле для назви дошки */
.inputGroup {
    position: relative;
    height: 73px;
}

.inputGroup input {
    width: 302px;
    height: 49px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    border-radius: 8px;
    border: 1px solid #BEDBB0;
    background: #1F1F1F;
    opacity: 0.4;
    box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);

    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}

.inputGroup input:focus,
.inputGroup input.focused {
    outline: none;
    border-color: #BEDBB0;
    opacity: 1;
}

.error {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
    opacity: 0;
    transform: translateY(-5px);
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Контейнер для иконок */
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    margin-top: 14px;
}

.iconButton {
    flex-shrink: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.iconButton input[type="radio"] {
    display: none;
}

.radioIcon {
    stroke: rgba(255, 255, 255, 0.5);
}

.iconButton input[type="radio"]:checked+svg {
    stroke: rgba(255, 255, 255, 1);
}

/* Контейнер для фонов */
.backgrounds {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 40px;
    margin-top: 14px;
    width: 260px;
}

.backgroundIcon {
    padding: 4px 5px;
    background: #1F1F1F;;
}

.backgroundIcon.selected {
    border-color: #a3d9a5;
    box-shadow: 0 0 8px #aed998;
}

.backgroundIcon svg {
    stroke: rgba(255, 255, 255, 0.1);
    fill: none;
}

.backgroundIcon input[type="radio"] {
    display: none;
}

.backgroundButton, 
.backgroundIcon {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.backgroundButton input[type="radio"] {
    display: none;
}

.backgroundButton.selected {
    border-color: #a3d9a5;
    box-shadow: 0 0 8px #e3eadf;
}

/* Кнопка создания / редактирования */
.createBtn {
    width: 302px;
    height: 49px;
    display: flex;
    padding: 10px 0px 11px 0px;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 8px;
    border-radius: 8px;
    background-color: #BEDBB0;

    color: #161616;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: "Poppins", sans-serif;
}

.createBtnIcon {
    width: 28px;
    height: 28px;
    fill: #1e1e1e;
}

.createBtn:hover {
    background-color: #9DC888;
}