.userInfoModal {
    all: unset;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.userInfoModal:hover {
    border: 1px solid purple;
}

.userInfo {
    display: flex;
    align-items: center;
}