/* 
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 0;
  overflow: hidden;
  height: 100%;
} */
.container {
  width: 334px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--create-col-btn);
  border-radius: 8px;
  color: var(--text-color);
  flex-shrink: 0;
  margin-bottom: 14px;
}
.columnName {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.boxIcon {
  display: flex;
  gap: 8px;
}
.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.svgBtn {
  stroke: var(--svg-btns-color);
  fill: none;
  transition: stroke var(--tns-cubic), filter var(--tns-cubic);
}

.btnIcon:hover .svgBtn {
  stroke: var(--icons-hover-color);
}

.itemList {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 14px;
}
@media only screen and (max-width: 374px) {
  .wrapper {
    width: 100vw;
    padding-right: 0px;
    padding-left: 20px;
  }
  .container {
    width: calc(100% - 12px);
  }
  .itemList {
    width: 100%;
  }
}
.cardManagerButton {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 334px;
  height: 56px;
  background-color: var(--btn-color);
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--plus-fill);
  cursor: pointer;
  transition: background-color var(--tns-cubic);

  &:hover,
  &:focus {
    background-color: var(--btn--hover-color);
  }
}

.svg {
  background-color: var(--plus-fill);
  border-radius: 8px;
  width: 28px;
  height: 28px;
  padding: 7px;
  align-content: center;
}
.svgIcon {
  stroke: var(--plus-stroke);
}
