/* Mobile */
/* .container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
} */

/* Tablet */
/* @media only screen and (min-width: 768px) {
  .wrapperScreenPage {
    max-width: 768px;
    padding: 0 32px;
  }
} */

/* Desktop */
/* @media only screen and (min-width: 1440px) {
  .wrapperScreenPage {
    max-width: 1440px;
    padding: 0 100px;
  }
} */

/* Mobile */
/* .section {
  position: relative;
  height: auto;
  width: 100%;
  background-color: rgb(71, 148, 255);
} */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 351px;
  /* min-width: 320px; */
  /* height: 654px; */
  /* background-color: rgb(160, 95, 150); */
  overflow: hidden;
  height: 80%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--create-col-btn);
  border-radius: 8px;
  color: var(--text-color);
  flex-shrink: 0;
  margin-bottom: 14px;
  width: 335px;
}
.columnName {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.boxIcon {
  display: flex;
  gap: 8px;
}
.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.svgBtn {
  stroke: var(--svg-btns-color);
  fill: none;
transition: stroke 0.3s ease, filter 0.3s ease;
}

.btnIcon:hover .svgBtn {
  stroke: var(--icons-hover-color);
}

.itemList {
  /* flex: 0 0 auto; */
  /* flex: 0 1 100%; */
  min-width: 335px;
  /* width: 100%; */
  /* background-color: brown; */
  /* height: 100%; */
}
@media only screen and (max-width: 374px) {
  .itemList {
    /* flex-basis: 90%; Уменьшаем ширину карточек до 90% от ширины родителя */
    min-width: auto; /* Снимаем фиксированную минимальную ширину */
  }
}
