.wrapperText {
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-help);
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--default-text-color);
  max-width: 335px;
  /* height: 80px; */
}
.spanBtn {
  background-color: transparent;
  color: var(--btn-color);
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  padding: 0 5px;
  transition: color var(--tns-cubic);

  &:hover {
    color: var(--btn--hover-color);
  }
}

@media only screen and (min-width: 768px) {
  .text {
    font-size: 14px;
    line-height: 1.28571;
    max-width: 486px;
    /* height: 72px; */
  }
}

@media only screen and (min-width: 1440px) {
  .text {
    width: 486px;
    /* height: 72px; */
  }
}
