.wrapperList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  width: 350px;
  height: 100%;
  /* height: calc(100%-56px); */
}

/* Стили для самой полосы прокрутки */
.wrapperList::-webkit-scrollbar {
  width: 8px; /* Ширина вертикальной полосы прокрутки */
}

/* Стили для ползунка (thumb) */
.wrapperList::-webkit-scrollbar-thumb {
  background-color: transparent; /* Цвет ползунка */
  border-radius: 12px; /* Скругленные углы ползунка */
  opacity: 0;
}
.wrapperList:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  background: var(--scroll-color);
  border-radius: 12px;
}
/* Стили для фона полосы прокрутки */
.wrapperList::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фона полосы прокрутки */
  opacity: 0;
  height: 90vh;
}

/* Эффект при наведении на ползунок */
.wrapperList::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-color); /* Темнее при наведении */
  cursor: grabbing;
}
.wrapperList::-webkit-scrollbar-thumb:active {
  background: var(--scroll-color-active);
  border-radius: 12px;
}

@media only screen and (max-width: 374px) {
  .wrapperList {
    width: 100%;
  }
}
