.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: 100%;
  background-color: #f9f9f9;
}

button {
  margin: 5px;
}
