.wrapperList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  width: 350px;
}

/* Стили для самой полосы прокрутки */
.wrapperList::-webkit-scrollbar {
  width: 8px; /* Ширина вертикальной полосы прокрутки */
}

/* Стили для ползунка (thumb) */
.wrapperList::-webkit-scrollbar-thumb {
  background-color: #121212; /* Цвет ползунка */
  border-radius: 12px; /* Скругленные углы ползунка */
  /*border: 2px solid #f5f5f5; /* Обводка вокруг ползунка */
  width: 8px;
  height: 142px;
}

/* Стили для фона полосы прокрутки */
.wrapperList::-webkit-scrollbar-track {
  background-color: #302f2f; /* Цвет фона полосы прокрутки */
  border-radius: 10px;
}

/* Эффект при наведении на ползунок */
.wrapperList::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Темнее при наведении */
  cursor: grabbing;
}

@media only screen and (max-width: 374px) {
  .wrapperList {
    width: 100%;
  }
}