.color {
  display: block;
  width: 4px;
  height: 154px;
  background-color: #8fa1d0;
  overflow: hidden;
}
.cardholder {
  min-height: 154px;
  width: 334px;
}
.card {
  border: none;
  padding: 14px 20px;
  flex-grow: 1;
}
.cardWrapper {
  display: flex;
  background-color: var(--create-col-stroke);
  border-radius: 8px;
  overflow: hidden;
}
.titleCard {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}
.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: var(--default-text-color);
  margin-bottom: 14px;
  white-space: wrap;
  overflow-x: hidden;
  max-width: 290px;

  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: var(--svg-btns-color);
  margin-bottom: 4px;
}
.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--card-line);
  padding-top: 14px;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.1);
}

.label-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.deadline {
  font-size: 12px;
  color: #888;
}
.box {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.boxPriority,
.boxDeadline {
  display: flex;
  flex-direction: column;
}
.priority {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 4px;
}
.ellipse {
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
.titlePriority,
.titleDeadline {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--modal-text-color);
}
.boxIcons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.btnIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
.svgIcon {
  stroke: var(--svg-btns-color);
  fill: none;
  transition: stroke 0.3s ease, filter 0.3s ease;
}

.btnIcon:hover .svgIcon {
  stroke: var(--icons-hover-color);
}

.changeColumn {
  position: relative;
}
@media only screen and (max-width: 374px) {
  .cardholder {
    width: calc(100% - 12px);
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
