.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(37, 37, 37, 0.75);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #1f1f1f;
  padding: 24px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 10px;
  z-index: 1001;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.modalContent {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.confirmButton,
.cancelButton {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  color: #161616;
  border: none;
}

.confirmButton {
  background: #bedbb0;
}
.confirmButton:hover,
.confirmButton:focus {
  background: #9dc888;
}
.cancelButton {
  background-color: rgb(172, 71, 71);
}
.cancelButton:hover,
.cancelButton:focus {
  background-color: rgb(184, 59, 59);
}
