.wrapperMainDashboard {
  /* position: relative; */
}
.wrapper {
  /* position: absolute;
  top: 68px;
  left: 240px; */
  /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
}

.columnsWrapper {
  background-color: #1f1f1f;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.columnsList > * {
  flex: 0 0 auto;
}

.wrapperText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(46, 54, 50);
}
.text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  color: rgba(46, 38, 38, 0.5);

  max-width: 486px;
  height: 72px;
}
.spanBtn {
  background-color: transparent;
  color: #bedbb0;
  border: none;
  padding: 0 5px;
}
