/* Overlay для модального вікна */
.popup {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Затінення фону */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Основний контент попапу */
.popupContent {
  max-width: 375px; 
  background-color: #161616; 
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Тінь */
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* Заголовок попапу */
.TitleCard {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

/* Іконка закриття без анімації */
.svgCloseIcon {
  fill: none;
  stroke: #ffffff;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

/* Поле введення для заголовка */
.inputTitle {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #BEDBB0; 
  border-radius: 6px;
  color: #ffffff; 
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin: 14px 0;
  transition: border-color 0.3s ease;
}

.inputTitle:focus {
  border-color: #8FA1D0; /* Колір рамки при фокусі */
}

/* Текстове поле для опису */
textarea {
  height: 100px;
  resize: none; 
  padding: 12px;
  border: 1px solid #BEDBB0;
  border-radius: 6px;
  color: #ffffff;
  background-color: transparent;
  font-size: 16px;
  margin: 14px 0;
}

/* Секція вибору кольору */
.labelColor {
  margin-bottom: 16px;
}

.labelTitle {
  margin-bottom: 4px;
  color: #FFFFFF80; 
  font-size: 12px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0; 
  width: 0;
  height: 0;
}


.labelColors {
  display: flex;
  align-items: center;
}

.colorCircle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 4px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 100;
}


.colorCircle:hover {
  transform: scale(1.2); 
}

.violet { background-color: #8FA1D0; }
.pink { background-color: #E09CB5; }
.green { background-color: #BEDBB0; }
.black { background-color: #FFFFFF4D; }

.colorCircle.active {
  box-shadow: 0 0 0 2px #8FA1D0, 0 0 0 4px #000; 
  box-shadow: inset 0 0 0 2px; 
}

/* Секція вибору дати */
.deadline {
  margin-bottom: 24px;
  /* display: flex; */
  align-items: center;
}

.CalendarPicker{
  display: flex;
}


.dateDisplay {
  color: #BEDBB0;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center; 
}

.iconChevronDown {
  fill: none;
  stroke: #BEDBB0;
}
/* Кнопка редагування */
.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 56px;
  background-color: #BEDBB0; 
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #161616; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #9DC888; 
}

.icon-normalBtnBlack {
  fill: none;
  stroke: #161616; 
}

.addButton:active {
  background-color: #7AA56B; /* Колір при натисканні */
}