/* .overlay */
.mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 21, 21, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  background-color: var(--filters-modal-bg);
  border-radius: 8px;
  min-width: 320px;
  max-width: 335px;
  height: fit-content;
  box-sizing: border-box;
}
.wrapperTitle {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--modal-text-color);
  margin-bottom: 24px;
  display: flex;
  justify-content: left;
}
/* 
.exitBtn {
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background-color: transparent;
} */

/* .linkContainer {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.link {
  color: #ffffff;
  opacity: 0.3;
}

.link:hover,
.link:focus {
  opacity: 100%;
} */

.formContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}
.label {
  position: relative;
}
.input {
  box-sizing: border-box;
  background-color: var(--filters-modal-bg);
  border: 1px solid var(--icons-hover-color);
  border-radius: 8px;
  opacity: 40%;
  padding-top: 0;
  padding-bottom: 0;
  height: 49px;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--modal-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input::placeholder {
  color: var(--modal-text-color);
  font-size: 14px;
}

.input:hover,
.input:focus {
  opacity: 100%;
}

.active {
  opacity: 100%;
}

/* .active {
  color: var(--icons-hover-color);
} */
.btn {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--plus-fill);
  height: 49px;
  padding: 14px 0px;
  border-radius: 8px;
  background-color: var(--icons-hover-color);
  border: none;

  margin: 0;
}

.btn:hover,
.btn:focus {
  background-color: var(--logOut-icon-hover);
}

.toggleBtn {
  stroke: #ffffff;
  fill: none;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  width: 18px;
  height: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 40%;
}
.toggleBtn:hover {
  opacity: 100%;
}

.error {
  position: absolute;
  top: 50px;
  left: 6px;
  color: red;
  font-size: 10px;
}

.wrapperAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 14px;
}
.avatar {
  width: 68px;
  height: 68px;
  position: relative;
  display: inline-block;
}
.avatar img {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btnAvatar {
  stroke: #161616;
  position: absolute;
  top: 55px;
  left: 22px;
  width: 24px;
  height: 24px;
  background-color: var(--avatar-btn);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  outline: none;
  margin: 0;
}
.btnAvatar:hover {
  background-color: var(--logOut-icon-hover);
}

.closeBtn {
  stroke: var(--modal-text-color);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .container {
    min-width: 400px;
  }
}

.toggleBtnIcon {
  stroke: var(--modal-text-color);
  fill: none;
}
