/* Mobile */

.wrapperList {
  min-width: 320px;
  width: 100%;
  margin: o auto;
  /* background-color: rgb(217, 255, 0); */
  padding: 20px;
  max-height: 100%;
  /* margin-left: 30px; */
}
.columnsList {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; /* Отключаем вертикальную прокрутку */
  white-space: nowrap;
  user-select: none;
  position: relative;
  padding: 0 0 24px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 32px;
  align-items: flex-start;
  min-width: 320px;
  width: 100%;
  list-style: none;
  /* height: calc(100vh - 116px); */
  height: 100%;
  margin: 0;
  cursor: grabbing;
  /* background-color: aqua; */
  /* margin: o auto; */
  /* height: 100vh; */
}
.columnsList:active {
  cursor: grabbing;
}

/* Стилизация всей полосы прокрутки */
.columnsList::-webkit-scrollbar {
  height: 12px; /* Толщина скроллбара */
}

/* Стилизация дорожки скроллбара */
.columnsList::-webkit-scrollbar-track {
  background: #121212; /* Цвет фона дорожки */
  border-radius: 12px; /*Закругленные края */
}

/* Стилизация ползунка скроллбара */
.columnsList::-webkit-scrollbar-thumb {
  height: 637px;
  width: 12px;
  background: #302f2f; /*  Цвет ползунка*/
  border-radius: 12px; /* Закругленные края ползунка */
  /* border: 2px solid #f0f0f0; Обводка вокруг ползунка */
}

/* Стилизация при наведении на ползунок */
.columnsList::-webkit-scrollbar-thumb:hover {
  /* Цвет ползунка при наведении */
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(90deg);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .wrapperList {
    padding: 0 18px 32px 32px;
    /* max-width: 768px; */
    /* width: 100%; */
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  .wrapperList {
    padding: 0 0 24px 24px;
  }

  .columnsList {
    max-width: calc(100vw - 260px - 40px);
  }
}

.add-button {
  margin-left: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-button.shifted {
  position: absolute;
  right: 0;
}
