.wrapperHeaderDashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 24px;
  background-color: transparent;
  height: 74px;
}

.titleBoard {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  letter-spacing: -0.02em;
  color: var(--text-color);
  /* filter: drop-shadow(0 0 3px white) drop-shadow(0px 0px 2px white)
    drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 2px white); */
  filter: drop-shadow(0 0 3px var(--header-color))
    drop-shadow(0px 0px 2px var(--header-color))
    drop-shadow(0px 0px 2px var(--header-color))
    drop-shadow(0px 0px 2px var(--header-color));
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: rgb(66, 24, 106); */
}

.btnFilters {
  stroke: var(--text-color);
  fill: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color);
  width: 64px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin: 0;
  transition: stroke 0.3s ease, filter 0.3s ease, color 0.3s ease;
  /* 
  filter: drop-shadow(0px 0px 3px white) hue-rotate(180deg)
    drop-shadow(0px 0px 2px white) hue-rotate(180deg)
    drop-shadow(0px 0px 2px white); */

  filter: drop-shadow(0 0 3px var(--header-color))
    drop-shadow(0px 0px 2px var(--header-color))
    drop-shadow(0px 0px 2px var(--header-color))
    drop-shadow(0px 0px 2px var(--header-color));

  /* filter: drop-shadow(0px 0px 3px white) hue-rotate(180deg)
    drop-shadow(0px 0px 2px white); */

  /* filter: drop-shadow(2px 2px 1px green) hue-rotate(180deg) drop-shadow(2px -2px 3px red); */
}

.btnFilters:hover {
  color: var(--icons-hover-color);
  stroke: var(--icons-hover-color);
}

/*Tablet */
@media only screen and (min-width: 768px) {
  .wrapperHeaderDashboard {
    height: 80px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .wrapperHeaderDashboard {
    height: 48px;
  }
}
