.theme-light {
    --primary-color: #fff;
    --text-color: #333;
    --background-color:
}

.theme-dark {
    --primary-color: #333;
    --text-color: #fff;
    --background-color:
}

.theme-violet {
    --primary-color: #8a2be2;
    --text-color: #fff;
    --background-color:
}


/* .headerContainer {
    padding: 18px 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
} */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.themeSelector {
    display: flex;
    align-items: center;
}

.themeSelector p {
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
}


/* modal */
.themeButton {
    /* Стилі для кнопки */
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    color: var(--text-color);
    margin-right: 14px;
    display: flex;
    align-items: center;
}


.modal {
    position: absolute;
    top: 100%;
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal ul {
    /* Стилі для списку опцій */
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal li {
    color: var(--text-color);
    cursor: pointer;
}

.modal li:not(:last-child) {
    margin-bottom: 10px;
}

.modal li:hover {
    color: rgba(128, 128, 128, 0.549);
}

.userInfoModal {
    all: unset;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;

}

.userInfo {
    display: flex;
    align-items: center;
}

.theme {
    display: flex;
    align-items: center;
    position: relative;
}

.hamburgerButton {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: 24px;
    transition-duration: 0.4s;
}

.hamburgerButton::before,
.hamburgerButton::after {
    content: '';
    position: absolute;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    background-color: black;
}

.hamburgerButton::before {
    top: 0;
}

.hamburgerButton::after {
    bottom: 0;
}


.hamburgerIcon {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}

.hamburgerButton:hover {
    opacity: 0.3;
}