/* .theme-light {
  --header-color: #FCFCFC;
  --text-color: #161616;
  --text-hover-color: #BEDBB0;
  --background-color: #FDFDFD;
  --background-help: #F6F6F7;
  --background-sidebar: #FFFFFF;
  --btn-color: #BEDBB0;
  --btn--hover-color: #9DC888;
  --icons-color-1: #161616;
  --icons-color-2: #16161680;
  --icons-hover-color: #BEDBB0;
  --hamburger-btn-color: #161616 ;
}

.theme-dark {
  --header-color: #161616;
    --text-color: #FFFFFF;
    --text-hover-color: #BEDBB0;
    --btn-text-color: #FFFFFF;
    --background-color: #1F1F1F;
    --background-help: #1F1F1F;
    --background-sidebar: #121212;
    --btn-color: #BEDBB0;
    --btn--hover-color: #9DC888;
    --icons-color-1: #FFFFFF;
    --icons-color-2: #FFFFFF80;
    --icons-hover-color: #BEDBB0;
    --hamburger-btn-color: #FFFFFF;
}

.theme-violet {
    --header-color: #FFFFFF;
    --text-color: #161616;
    --text-hover-color: #5255BC;
    --input-text-color: #161616;
    --background-color: #D6D8FF;
    --background-help: #B8BCFD;
    --background-sidebar: #5255BC;
    --btn-color: #5255BC;
    --btn--hover-color: #7B7EDE;
    --icons-color-1: #161616;
    --icons-color-2: #16161680;
    --icons-hover-color: #5255BC;
    --logOut-icon-hover: #B8BCFD;
    --newBoard-btn: #B8BCFD;
    --newBoard-btn-hover: #979CEA;
    --hamburger-btn-color: #161616;
}
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  width: 100%;
  background-color: var(--header-color);
  color: var(--text-color);
}

.themeSelector {
  display: flex;
  align-items: center;
  /* padding-left: 360px; */
}

.themeButton p {
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 5px;
  font-weight: 500;
  /* color: var(--text-color) */
}

.themeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  color: var(--icons-color-1);
  transition: transform var(--tns-cubic), color var(--tns-cubic);

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: var(--text-hover-color);
  }

  /* filter: drop-shadow(2px 2px 1px green) hue-rotate(180deg) drop-shadow(2px -2px 3px red); */
}

.modal {
  position: absolute;
  top: 100%;
  width: 100px;
  background-color: var(--header-color);
  border: 1px solid var(--icons-hover-color);
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 11;
}

.modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal li {
  color: var(--btn-text-color);
  cursor: pointer;
  transition: transform 0.3s ease, color var(--tns-cubic);
}

.modal li:not(:last-child) {
  margin-bottom: 10px;
}

.modal li:hover {
  color: var(--text-hover-color);
  transform: scale(1.1);
}

.theme {
  display: flex;
  align-items: center;
  position: relative;
}

.hamburgerButton {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition-duration: 0.4s;
}

.hamburgerButton::before,
.hamburgerButton::after {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 5px;
  width: 100%;
  height: 4px;
  background-color: var(--hamburger-btn-color);
}

.hamburgerButton::before {
  top: 0;
}

.hamburgerButton::after {
  bottom: 0;
}

.hamburgerIcon {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background-color: var(--hamburger-btn-color);
  border-radius: 5px;
}

.hamburgerButton:hover {
  opacity: 0.3;
}

.hamburgerButton.hide {
  visibility: hidden;
}

@media (min-width: 1440px) {
  .hamburgerButton {
    visibility: hidden;
  }
}

li.activeTheme {
  color: var(--accent-color);
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    padding: 18px 32px;
  }
  .hamburgerButton {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 18px 24px;
    width: calc(100%-260px);
  }
}
