.filtersWrapper {
    position: relative;
}

.btnFilters {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1a1a1a;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modalContent {
    display: flex;
    flex-direction: column;
}

.closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}