.btn {
    margin-left: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    background-color: transparent;
    padding-right: 7px;
    height: 32px;
    color: var(--active-color-sidebar);
}
.logOutIcon {
    stroke: var(--logOut-icon);
    fill: none;
}
.btn:hover {
    color: var(--logOut-icon-hover);
}
.btn:hover .logOutIcon {
    stroke: var(--logOut-icon-hover);
}