.btn {
  margin-left: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;
  background-color: transparent;
  padding-right: 7px;
  height: 32px;
  color: var(--active-color-sidebar);
  transition: color var(--tns-cubic);

  &:hover {
    color: var(--logOut-icon-hover);
  }

  &:hover .logOutIcon {
    stroke: var(--logOut-icon-hover);
  }
}
.logOutIcon {
  transition: stroke var(--tns-cubic);
  stroke: var(--logOut-icon);
  fill: none;
}
