@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('ttf'),
    url('/fonts/Poppins-Regular.ttf') format('ttf'),
    url('/fonts/Poppins-SemiBold.ttf') format('ttf');
}

:root {
  /*BG colors*/
  --background-pop-up-colorB: #151515;
  --background-sidebar-colorB: #121212;
  --background-topbar-colorB: #161616;
  --background-colorV: #ecedfd;
  --background-sidebar-colorV: #5255bc;
  --background-topbar-colorV: #ffffff;

  /*Text colors*/
  --main-text-colorB: #ffffff;
  --main-text-colorV: #161616;

  /*Button-colors*/
  --background-button-colorB: #bedbb0;
  --background-button-colorV: #5255bc;

  /*Priority colors*/
  --priority-color-none: #ffffff;
  --priority-color-low: #8fa1d0;
  --priority-color-mid: #e09cb5;
  --priority-color-high: #bedbb0;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* p:last-child {
  margin-bottom: 0;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
html,
body {
  overflow-y: hidden; /* Отключает вертикальный скролл */
  height: 100%; /* Устанавливает высоту на 100% */
}
