@font-face {
  font-family: "Poppins";
  src:
    url("/fonts/Poppins-Medium.ttf") format("ttf"),
    url("/fonts/Poppins-Regular.ttf") format("ttf"),
    url("/fonts/Poppins-SemiBold.ttf") format("ttf");
}

:root {


  /*BG colors*/
  --background-pop-up-colorB: #151515;
  --background-sidebar-colorB: #121212;
  --background-topbar-colorB: #161616;
  --background-colorV: #ECEDFD;
  --background-sidebar-colorV: #5255BC;
  --background-topbar-colorV: #FFFFFF;

  /*Text colors*/
  --main-text-colorB: #ffffff;
  --main-text-colorV: #161616;

  /*Button-colors*/
  --background-button-colorB: #BEDBB0;
  --background-button-colorV: #5255BC;

  /*Priority colors*/
  --priority-color-low: #8FA1D0;
  --priority-color-mid: #E09CB5;
  --priority-color-high: #BEDBB0;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, white, rgb(171, 244, 171));
}