.section {
  /* position: relative; */
}

.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5px;
  padding: 14px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
  width: 334px;
  border-radius: 8px;
  background-color: #bedbb0;
  border: none;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}
.btnAdd:hover,
.btnAdd:focus {
  background-color: #9dc888;
}
