.theme-light {
  --accent-color: #bedbb0;
  --header-color: #fcfcfc;
  --text-color: #161616;
  --text-hover-color: #bedbb0;
  --background-color: #fdfdfd;
  --background-help: #f6f6f7;
  --background-sidebar: #ffffff;
  --btn-color: #bedbb0;
  --btn-text-color: #161616;
  --btn--hover-color: #9dc888;
  --icons-color-1: #161616;
  --icons-color-2: #16161680;
  --icons-hover-color: #bedbb0;
  --logOut-icon: #bedbb0;
  --logOut-icon-hover: #9dc888;
  --newBoard-btn: #bedbb0;
  --newBoard-btn-hover: #9dc888;
  --hamburger-btn-color: #161616;
  --plus-fill: #161616;
  --plus-stroke: #fff;
  --inactive-color-sidebar: rgba(22, 22, 22, 0.5);
  --lines-sidebar: rgba(22, 22, 22, 0.1);
  --active-color-sidebar: #161616;
  --active-board-bg-sidebar: #f6f6f7;
  --active-line-sidebar: #bedbb0;
  --logo-color: #ffffff;
  --default-text-color: rgba(22, 22, 22, 0.7);
  --background-topbar-colorV: rgba(22, 22, 22, 0.3);
  --priority-color-low: #8fa1d0;
  --priority-color-mid: #e09cb5;
  --priority-color-high: #bedbb0;
  --filters-modal-bg: #fcfcfc;
  --create-col-btn: #fff;
  --create-col-btn-hover: #9dc888;
  --svg-btns-color: rgba(22, 22, 22, 0.5);
  --modal-text-color: #161616;
  --input-bg-color: transparent;
  --create-col-fill: #161616;
  --create-col-stroke: #fff;
  --card-line: rgba(22, 22, 22, 0.1);
  --avatar-btn: #bedbb0;
  --scroll-color: rgba(190, 219, 176, 0.5);
  --scroll-color-active: #bedbb0;
}

.theme-dark {
  --accent-color: #bedbb0;
  --header-color: #161616;
  --text-color: #ffffff;
  --text-hover-color: #bedbb0;
  --btn-text-color: #ffffff;
  --background-color: #1f1f1f;
  --background-help: #1f1f1f;
  --background-sidebar: #121212;
  --btn-color: #bedbb0;
  --btn--hover-color: #9dc888;
  --icons-color-1: #ffffff;
  --icons-color-2: #ffffff80;
  --icons-hover-color: #bedbb0;
  --logOut-icon: #bedbb0;
  --logOut-icon-hover: #9dc888;
  --newBoard-btn: #bedbb0;
  --newBoard-btn-hover: #9dc888;
  --hamburger-btn-color: #ffffff;
  --plus-fill: #161616;
  --plus-stroke: #fff;
  --inactive-color-sidebar: rgba(255, 255, 255, 0.5);
  --lines-sidebar: rgba(255, 255, 255, 0.1);
  --active-color-sidebar: #ffffff;
  --active-board-bg-sidebar: #1f1f1f;
  --active-line-sidebar: #bedbb0;
  --logo-color: #ffffff;
  --default-text-color: rgba(255, 255, 255, 0.5);
  --background-topbar-colorV: rgba(22, 22, 22, 0.3);
  --priority-color-low: #8fa1d0;
  --priority-color-mid: #e09cb5;
  --priority-color-high: #bedbb0;
  --filters-modal-bg: #151515;
  --create-col-btn: #121212;
  /* --create-col-btn-hover: #9DC888; пока непонятно */
  --svg-btns-color: rgba(255, 255, 255, 0.5);
  --modal-text-color: #fff;
  --input-bg-color: #1f1f1f;
  --create-col-fill: #fff;
  --create-col-stroke: #121212;
  --card-line: rgba(255, 255, 255, 0.1);
  --avatar-btn: #bedbb0;
  --scroll-color: #302f2f;
  --scroll-color-active: #121212;
}

.theme-violet {
  --accent-color: #5255bc;
  --header-color: #ffffff;
  --text-color: #161616;
  --text-hover-color: #5255bc;
  --input-text-color: #161616;
  --background-color: #d6d8ff;
  --background-help: rgba(236, 237, 253, 0.4);
  --background-sidebar: #5255bc;
  --btn-color: #5255bc;
  --btn--hover-color: #7b7ede;
  --icons-color-1: #161616;
  --icons-color-2: #16161680;
  --icons-hover-color: #5255bc;
  --logOut-icon: #ffffff;
  --logOut-icon-hover: #b8bcfd;
  --newBoard-btn: #b8bcfd;
  --newBoard-btn-hover: #979cea;
  --hamburger-btn-color: #161616;
  --plus-fill: #fff;
  --plus-stroke: #161616;
  --inactive-color-sidebar: rgba(255, 255, 255, 0.5);
  --lines-sidebar: rgba(255, 255, 255, 0.1);
  --active-color-sidebar: #ffffff;
  --active-board-bg-sidebar: rgba(255, 255, 255, 0.5);
  --active-line-sidebar: #ffffff;
  --logo-color: #5255bc;
  --default-text-color: rgba(22, 22, 22, 0.7);
  --background-topbar-colorV: rgba(22, 22, 22, 0.3);
  --priority-color-low: #8fa1d0;
  --priority-color-mid: #e09cb5;
  --priority-color-high: #bedbb0;
  --filters-modal-bg: #fcfcfc;
  --create-col-btn: #fff;
  --svg-btns-color: rgba(22, 22, 22, 0.5);
  --modal-text-color: #161616;
  --input-bg-color: transparent;
  --create-col-fill: #5255bc;
  --create-col-stroke: #fff;
  --card-line: rgba(22, 22, 22, 0.1);
  --avatar-btn: #ecedfd;
  --scroll-color: rgba(82, 85, 188, 0.5);
  --scroll-color-active: rgb(82, 85, 188);
}

.homePage {
  display: flex;
  height: 100vh;
}

.homePage__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --tns-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
