.theme-light {
  --header-color: #FCFCFC;
  --text-color: #161616;
  --text-hover-color: #BEDBB0;
  --background-color: #FDFDFD;
  --background-help: #F6F6F7;
  --background-sidebar: #FFFFFF;
  --btn-color: #BEDBB0;
  --btn--hover-color: #9DC888;
  --icons-color-1: #161616;
  --icons-color-2: #16161680;
  --icons-hover-color: #BEDBB0;
  --logOut-icon:#BEDBB0;
  --logOut-icon-hover: #9DC888;
  --newBoard-btn: #BEDBB0;
  --newBoard-btn-hover: #9DC888;
  --hamburger-btn-color: #161616;
  --plus-fill: #161616;
  --plus-stroke: #FFF;
  --unactive-color-sidebar: rgba(22, 22, 22, 0.50);;
  --lines-sidebar: rgba(22, 22, 22, 0.10);
  --active-color-sidebar: #161616;
  --active-board-bg-sidebar: #F6F6F7;
  --active-line-sidebar: #BEDBB0;
  --logo-color: #FFFFFF;
}

.theme-dark {
  --header-color: #161616;
    --text-color: #FFFFFF;
    --text-hover-color: #BEDBB0;
    --btn-text-color: #FFFFFF;
    --background-color: #1F1F1F;
    --background-help: #1F1F1F;
    --background-sidebar: #121212;
    --btn-color: #BEDBB0;
    --btn--hover-color: #9DC888;
    --icons-color-1: #FFFFFF;
    --icons-color-2: #FFFFFF80;
    --icons-hover-color: #BEDBB0;
    --logOut-icon:#BEDBB0;
    --logOut-icon-hover: #9DC888;
    --newBoard-btn: #BEDBB0;
    --newBoard-btn-hover: #9DC888;
    --hamburger-btn-color: #FFFFFF;
    --plus-fill: #161616;
    --plus-stroke: #FFF;
    --unactive-color-sidebar: rgba(255, 255, 255, 0.50);
    --lines-sidebar: rgba(255, 255, 255, 0.10);
    --active-color-sidebar: #FFFFFF;
    --active-board-bg-sidebar: #1F1F1F;
    --active-line-sidebar: #BEDBB0;
    --logo-color: #FFFFFF;
}

.theme-violet {
    --header-color: #FFFFFF;
    --text-color: #161616;
    --text-hover-color: #5255BC;
    --input-text-color: #161616;
    --background-color: #D6D8FF;
    --background-help: #B8BCFD;
    --background-sidebar: #5255BC;
    --btn-color: #5255BC;
    --btn--hover-color: #7B7EDE;
    --icons-color-1: #161616;
    --icons-color-2: #16161680;
    --icons-hover-color: #5255BC;
    --logOut-icon:#FFFFFF;
    --logOut-icon-hover: #B8BCFD;
    --newBoard-btn: #B8BCFD;
    --newBoard-btn-hover: #979CEA;
    --hamburger-btn-color: #161616;
    --plus-fill: #FFF;
    --plus-stroke: #161616;
    --unactive-color-sidebar: rgba(255, 255, 255, 0.50);
    --lines-sidebar: rgba(255, 255, 255, 0.10);
    --active-color-sidebar: #FFFFFF;
    --active-board-bg-sidebar: rgba(255, 255, 255, 0.50);
    --active-line-sidebar: #FFFFFF;
    --logo-color: #5255BC;
}


.homePage {
  display: flex;
  height: 100vh;
}

.homePage__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

