/* Modal container */
.modalInProgr {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background: #1f1f1f;
  /* background: #ffffff; */
  border-radius: 8px;
  padding: 18px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 135px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-content: center;
  align-items: center;
  cursor: pointer;
}
.item:hover .title,
.item:hover .icon,
.item:focus .title,
.item:focus .icon {
  color: #bedbb0;
  stroke: #bedbb0;
  fill: none;
}

.icon {
  display: flex;
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
}
