.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 21, 21, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modalInProgr {
  position: absolute;
  /* bottom: 100%; */
  top: -91px;
  left: -139px;
  z-index: 1001;
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background-color: var(--background-sidebar);
  /* color: var(--svg-btns-color); */
  color: var(--inactive-color-sidebar);
  border-radius: 8px;
  padding: 7px;
  max-height: 130px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 135px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  /* color: rgba(255, 255, 255, 0.5); */
  overflow-y: auto;
  border: solid 1px var(--svg-btns-color);
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
.item:hover .title,
.item:hover .icon,
.item:focus .title,
.item:focus .icon {
  color: var(--drag-ul);
  stroke: var(--drag-ul);
  fill: none;
}

.icon {
  display: flex;
  fill: none;
}
